/* 
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(81, 29, 131);
    color: white;
    height: 75px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: "Roboto", sans-serif;
}

nav ul{
    list-style-type: none;
}

.gameContainer {
    
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: "Roboto", sans-serif;
    position: relative;
}

.box {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    cursor: pointer;
}

.box:hover{
    background-color: rgb(223, 187, 223);
}

.gameInfo{
    padding: 0 34px;
    font-family: "Baloo Da 2", sans-serif;
}

.gameInfo h1{
    font-size: 2.5rem;
}

.imgbox img{
     width: 0;
     transition: width 1s ease-in-out;
     

}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 23px;
    padding: 1px 18px;
    background: rgb(238, 238, 152);
    border-radius: 7px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
}

.line{
    
    width: 0;
    height: 3px;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
    
    
}

@media screen and (max-width: 800px)
{
    .gameContainer{
        flex-wrap: wrap;
    }

    .gameInfo{
        margin-top: 34px;
    }

    .gameInfo h1{
        font-size: 1.5rem;
    }
    
    .container{
        display: grid;
        grid-template-rows: repeat(3,20vw);
        grid-template-columns: repeat(3,20vw);
    }
} */


@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(81, 29, 131);
    color: white;
    height: 75px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: "Roboto", sans-serif;
}

nav ul{
    list-style-type: none;
}

.gameContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: "Roboto", sans-serif;
    position: relative;
}

.box {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    cursor: pointer;
    position: relative;
}

.box:hover{
    background-color: rgb(223, 187, 223);
}

.gameInfo{
    padding: 0 34px;
    font-family: "Baloo Da 2", sans-serif;
}

.gameInfo h1{
    font-size: 2.5rem;
}

.imgbox img{
     width: 0;
     transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 23px;
    padding: 1px 18px;
    background: rgb(238, 238, 152);
    border-radius: 7px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
}

.line {
    position: absolute;
    height: 4px;
    background-color: #911d91;
    transition: all 0.5s ease;
    z-index: 10;
    transform-origin: 0 0;
}

@media screen and (max-width: 800px)
{
    .gameContainer{
        flex-wrap: wrap;
    }

    .gameInfo{
        margin-top: 34px;
    }

    .gameInfo h1{
        font-size: 1.5rem;
    }
    
    .container{
        grid-template-rows: repeat(3,20vw);
        grid-template-columns: repeat(3,20vw);
    }
}